.header-container {
    width: 100%;
    padding: 20px 0;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.shop-title {
    font-size: 56px;
    color: white;
    font-weight: 300;
    margin-left: 30px;
}

.basket-button {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    text-decoration: none;
}

.about-brand {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 22px;
}

.go-shopping {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 22px;
}

.categories-container {
    display: flex;
}

.categories {
    color: white;
    font-weight: 300;
    font-size: 22px;
    margin-right: 10px;
}

.categories-button {
    margin-right: 5px;
    border-radius: 7px;
    padding: 0 5px;
    border: 1px solid white;
}

.basket-circle {
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: red;
}

.basket-link {
    text-decoration: none;
    position: relative;
}
